/home/enki/Documents/MSP_TESIS/scripts/.julia/src/Manifest.toml 
/home/enki/Documents/MSP_TESIS/scripts/.julia/src/Project.toml
/home/enki/Documents/MSP_TESIS/CPP_SCRIPTS
/home/enki/Documents/MSP_TESIS/scripts/simulations/energy
/home/enki/Documents/MSP_TESIS/scripts/simulations/magnetization
/home/enki/Documents/MSP_TESIS/scripts/simulations/grid_evolution



